@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: url(zYXgKVElMYYaJe8bpLHnCwDKhdHeEQ.eot)/*tpa=https://fonts.gstatic.com/s/ibmplexsans/v7/zYXgKVElMYYaJe8bpLHnCwDKhdHeEQ.eot*/;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(mem8YaGs126MiZpBA-UFVZ0f.eot)/*tpa=https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0f.eot*/;
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(pxiEyp8kv8JHgFVrJJfedg.eot)/*tpa=https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJfedg.eot*/;
}
